{% load forum_tags %}

{% if user.is_authenticated %}
    {% counts as counts %}

    <div style="background:transparent;border:0;box-shadow:none" class="ui vertical menu" id="menu-topics">
    <!-- Add a check for if new user and show for 7 days -->
        <a class="item" href="{% url 'post_create' %}">✍🏿 Write post</a>
        <a class="item" href="#">🧑🏾‍🤝‍🧑🏾 Invite peers</a>
        <a class="item" href="{% url 'edit_profile' %}">😊 Improve profile</a>
    <!-- end to-do list -->

    <div class="ui divider"></div>

        <a class="item {% activate tab "myposts" %}" href="{% url 'myposts' %}">
            🗒️ My Posts
        </a>

         <a class="item {% activate tab "bookmarks" %}" href="{% url 'bookmarks' %}">
            🔖 Reading List
        </a>

        <a class="item {% activate tab "myvotes" %}"
           href="{% url 'myvotes' %}">

            {% if counts.votes.count %}
                👍 Votes <div class="ui violet left pointing label">{{ counts.votes.count }}</div>
            {%  else %}
                👍 My Votes
            {% endif %}

        </a>

        <a class="item {% activate tab "mytags" %}" href="{% url 'mytags' %}">
            🏷️ My Spaces
        </a>

        <a class="item {% activate tab "following" %}" href="{% url 'following' %}">
            🔥 Following
        </a>

    </div>

{% endif %}
