{% load static forum_tags %}

{% if user.is_authenticated %}
{% counts as counts %}

<li class="{% activate tab "myposts" %}">
    <a href="{% url 'myposts' %}">
        <img src="{% static 'img/pen.png' %}" alt="">
        <span>My Posts</span>
    </a>
</li>
<li class="{% activate tab "bookmarks" %}">
    <a href="{% url 'bookmarks' %}">
        <img src="{% static 'img/document.png' %}" alt="">
        <span>My Bookmarks</span>
    </a>
</li>

<li class="{% activate tab "myvotes" %}">
    <a href="{% url 'myvotes' %}">

        {% if counts.votes.count %}
        <div class="ui pink label"><img src="{% static 'img/icons/chat.png' %}" alt=""> <span>New Votes
                ({{ counts.votes.count }})</span></div>
        {%  else %}
        <img src="{% static 'img/reactions_like.png' %}" alt="">
        <span>My Likes/Upvotes</span>
        {% endif %}

    </a>
</li>
<!-- <li class="{% activate tab "mytags" %}">
    <a href="{% url 'mytags' %}">
        <img src="{% static 'img/book.png' %}" alt="">
        <span>My Tags</span>
    </a>
</li> -->
<li class="{% activate tab "following" %}">
    <a href="{% url 'following' %}">
        <img src="{% static 'img/bell.svg' %}" alt="">
        <span>Following</span>
    </a>
</li>
{% endif %}