{% load forum_tags %}
{% load static %}

<div class="ui labeled evenly divided menu" id="menu-header" user-id="{{ request.user.id }}">

    {% block headimg %}
    <div class="header item" id="logo">
        <a href="/"><img class="ui image" src="{% static "images/logo.png" %}"></a>
    </div>
    {% endblock %}

    <div class="ui selection dropdown top right item" tabindex=0>
        <input type="hidden" name="user">
        <i class="dropdown icon"></i>
        <div class="default text">Feed</div>
        <div class="menu transition hidden" tabindex="-1">

            <a class="item {% activate tab "latest" %} " href="{% url 'post_list' %}">
                <i class="list icon"></i> Latest
            </a>

            <a class="item {% activate tab "tags" %} " href="{% url 'tags_list' %}">
                <i class="tag icon"></i> Tags
            </a>
        
            <a class="item {% activate tab "news" %} " href="{% url 'post_list' %}?type=news">
                <i class="newspaper icon"></i> News
            </a>
            <a class="item {% activate tab "job" %} " href="{% url 'post_list' %}?type=job">
                <i class="briefcase icon"></i> Jobs
            </a>
            <a class="item {% activate tab "tutorial" %} " href="{% url 'post_list' %}?type=tutorial">
                <i class="help circle icon"></i> Tutorials
            </a>
            <a class="item {% activate tab "forum" %} " href="{% url 'post_list' %}?type=forum">
                <i class="file icon"></i> Forum
            </a>
        
        </div>
    </div>
    
    <!--<a class="item {% activate tab "planet" %} " href="{% url 'blog_list' %}">
            <i class="rss icon"></i> Planet
        </a>
        <a class="item {% activate tab "community" %}" href="{% url 'community_list' %}">
            <i class="world icon"></i> Community
        </a>-->

    {% search_bar %}

    <div class="right menu">

        {% if user.is_authenticated %}

        <div class="item {% activate tab "new" %}">
            <a href="{% url 'post_create' %}">
                <div class="ui primary basic button">
                    Create Post
                </div>
            </a>
        </div>

        <a class="item" href="{% url 'inbox' %}">
            <i class="mail icon"></i> Messages
            {% if counts.messages.count %}
            <span class="ui empty mini circular blue label"></span>
            {% endif %}
        </a>

        <div class="ui text menu">
            <div style="margin-right: 20px;" class="user top right pointing ui dropdown item">
                <img class="ui mini rounded image" src="{% gravatar user=user %}" alt="">
                {{ user.profile.name }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div style="text-transform: none;" class="user header">
                        <i class="{% user_icon_css user %}"></i> {{ user.profile.get_score|bignum }} pts
                    </div>
                    <div class="divider"></div>
                    <a class="item {% activate tab "profile" %}" href=" {% url 'user_profile' user.profile.uid %}">
                        <i class="user icon"></i> My Profile
                    </a>
                    <a class="item" href="{% url 'edit_profile' %}">
                        <i class="settings icon"></i> User Settings
                    </a>
                    <div class="divider"></div>
                    <a class="item {% activate tab "logout" %}" href="{% url 'logout' %}">
                        <i class="sign-out icon"></i> Log Out
                    </a>
                </div>
            </div>
        </div>

        {% else %}
        <a class="item  {% activate tab "login" %}" href="{% url 'login' %}" id="new-post">
            <i class="sign-in icon"></i> Log In
        </a>
        {% endif %}
        <!-- 
        <a class="item  {% activate tab "about" %}" href="{% url 'pages' 'about' %}">
            <i class="info circle icon"></i>About
        </a> -->

    </div>
</div>