{% extends "forum_list.html" %}
{% load forum_tags %}
{% load humanize %}
{% load cache %}

{% block headtitle %}
    360Med Network
{% endblock %}

{% block sideblock %}

{% include "banners/menu-topics.html" %}
{% endblock %}

{% block body %}



    {% block listing %}
        {% if tag %}
            <div class="ui blue filter message">
                Showing : <code>{{ tag }}</code> &bull;
                <a href="{% url 'event_list' %}">
                    reset <i class="undo small icon"></i>
                </a>
            </div>
        {% endif %}
        <div style="margin-top:30px">
            <div class="ui divided link items">
            {% for event in events %}
                <div class="item">
                    <div class="image">
                        <img src="/images/wireframe/image.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{% url 'event_view' event.uid %}">{{ event.title }}</a>
                        <div class="meta">
                            <span class="cinema">{{ event.location }}</span>
                        </div>
                        <div class="description">
                            <p>
                                {{ event.content }}
                            </p>
                        </div>
                        <div class="extra">
                            {% post_tags post=event show_views=False %}
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="ui warn message">
                No events found.
            </div>
            {% endfor %}
            </div>
        </div>

    {% endblock %}



    <!-- <div class="ui page-bar segment">
        {% pages objs=posts %}
    </div> -->


{% endblock %}

{% block sidebar %}

    {% cache 60 sidebar %}

        {% if tab == 'following' %}
            {% custom_feed feed_type=tab objs=posts title='People you are following' %}
        {% elif tab == 'bookmarks' %}
            {% custom_feed feed_type=tab objs=posts title='People you have bookmarked' %}
        {% else %}
            {% default_feed user=request.user %}
        {% endif %}

    {% endcache %}


{% endblock %}