{% extends "forum_base.html" %}

{% block content %}

    <div class="ui stackable grid">

        <div class="row">
            <div class="column">
                {% include 'banners/top-banner.html' %}
            </div>
        </div>

        <div class="row">
            <div class="three wide column">
                {% block sideblock %}
                SIDE BLOCK
                {% endblock %}
            </div>
            
            <div class="fit nine wide column">
                {% block body %}
                MAIN BODY
                {% endblock %}
            </div>
            
            <div class="four wide column sidefeed">
                {% block sidebar %}
                SIDE BAR
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}

