{% load static %}
{% load compress %}
{% load recaptcha2 %}
{% load forum_tags %}
{% load accounts_tags %}

<html>
<head>

    <title>
        {% block title %}{{ site_name }}{% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Set the favicon #}
    {% block favicon %}
        <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" type="image/x-icon"/>
    {% endblock %}
    {# Load JQuery. #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    {# Load recaptcha #}
    {% recaptcha_init %}

    {#  CSS compression. #}
    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'prism.css' %}" rel="stylesheet">
        <link href="{% static 'forum.css' %}{% randparam %}" rel="stylesheet">
        {% block cssfile %}
        {% endblock %}

    {% endcompress %}

    {# Javascript compression. #}
    {% compress js %}
        <script src="{% static 'semantic.min.js' %}"></script>
        <script src="{% static 'prism.js' %}"></script>
        <script src="{% static 'forum.js' %}{% randparam %}"></script>
        <script src="{% static 'setup.js' %}{% randparam %}"></script>
         {% block jsfile %}
        {% endblock %}
    {% endcompress %}

    {# Optional block header content. #}
    {% block head %}

    {% endblock %}

    {# Optional css header content. #}
    {% block css %}
    {% endblock %}

    {# Optional javascaript header content. #}
    {% block js %}

    {% endblock %}

</head>
<body>

<div class="ui container">

    {% include 'banners/top-banner.html' %}

    {% block topmenu %}
    {% include "banners/menu-header.html" %}
    {% endblock %}

<!--     <span class="phone-menus">
        {% include "banners/menu-phone.html" %}
    </span> -->

    {% block container %}
        <div style="margin-top:100px;">

            {% show_messages messages %}

            {% block content %}
                MAIN CONTENT
            {% endblock %}

        </div>
    {% endblock %}


    {% block footer %}
        {% include 'widgets/footer.html' %}
    {% endblock %}
</div>

</body>
</html>

