{% extends "forum_list.html" %}
{% load forum_tags %}
{% load static %}

{% block headtitle %}
{{ post.title }}
{% endblock %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block css %}
<link href="{% static 'autocomplete/at.who.css' %}" rel="stylesheet">
<link href="{% static 'pagedown.css' %}" type="text/css" media="all" rel="stylesheet">
<link href="{% static 'pagedown/demo/browser/demo.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}


{% block js %}

<script type="text/javascript" src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown-extra/pagedown/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Editor.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown-extra/Markdown.Extra.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown_init.js' %}{% randparam %}"></script>


<script src="{% static 'markdown-it.js' %}"></script>
<script src="{% static 'autocomplete/at.who.js' %}"></script>
<script src="{% static 'autocomplete/caret.js' %}"></script>
<script src="{% static 'effects.js' %}{% randparam %}"></script>
<script src="{% static 'inplace.js' %}{% randparam %}"></script>
<script src="{% static 'forum.js' %}{% randparam %}"></script>
{% endblock %}

{% block sideblock %}

add user cardbox here

{% endblock %}

{% block body %}

<div class="ui segment">

    <h1 class="ui header">{{ job.title }}</h1>

    {{ job.content }}

    {{ job.apply_before }}

    {{ event.institution }}


</div>


<!-- <script>

    $(document).ready(function () {
        $('#subscribe').dropdown();
        drag_and_drop();
        $('.ui.dropdown').dropdown();
        var users = "{{ users_str }}".split(',');
        autocomplete_users(users);
        //init_pagedown();

        $(this).on('click', '#inplace .save', function () {
            event.preventDefault();
            var post = $(this).closest('.post');
            edit_post(post);
        });

        $(this).on('click', '.edit-button', function (event) {
            event.preventDefault();
            inplace_form($(this));
        });

        $(this).on('click', '.editable', function (event) {
            // Insert inplace form with CMD + click
            if (event.metaKey || event.ctrlKey) {
                inplace_form($(this))
            }
        });

        $(this).on('dblclick', '.editable', function (event) {
            // Insert inplace form with double click.
            inplace_form($(this))
        });
    });
 -->
</script>


{% endblock %}

{% block sidebar %}

{#  Cache every hour #}

<b>Similar Posts </b>

<div class="ui basic segment" id="similar">
    <div id="similar-feed" event_uid="{{ event.uid }}"></div>
    <div class="ui inverted dimmer">
        <div class="content">
            <div class="ui text loader">
                <div class="muted">Loading Similar Events</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}