{% extends "forum_list.html" %}
{% load forum_tags %}
{% load accounts_tags %}

{% block headtitle %}
    Messages
{% endblock %}

{% block sideblock %}
{% endblock %}

{% block content %}

<!-- <div class="center-text">
{% pages objs=all_messages %}
</div> -->

<div class="ui stackable grid">
    <div class="ten wide column">
        <h1 class="ui large header">
            Inbox
        </h1>
        
        <div class="ui divider"></div>
        
        <div class="ui large feed">
            {% for message in all_messages %}
            <div class="event">
                <img class="ui avatar image"
                    src="{% if message.sender.profile.avatar %}{{ message.sender.profile.avatar.url }}{% else %}{% gravatar user=message.sender size=50 %}{% endif %}"
                    alt="">
                <div class="content">
                    <div class="summary">
                        <a class="user" href="{{message.sender.profile.get_absolute_url}}">
                            {{message.sender.profile.name }}
                        </a> wrote
                        <div class="date">
                            {{ message.sent_date|timesince }} ago
                        </div>
                        <div class="extra text">
                            {{ message.body.html|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            {% empty %}
            <div class="ui message">No messages</div>
            {% endfor %}
        </div>
        {#  this will reset the user unread messages #}
        {% toggle_unread user=request.user %}
        
        <div class="center-text">
            {% pages objs=all_messages %}
        </div>
    </div>
    <div class="six wide column sidefeed">
        {% custom_feed feed_type='messages' objs=all_messages title='Messages by'%}
    </div>
</div>


{% endblock %}