{% extends 'forum_list.html' %}
{% load static widget_tweaks %}

{% block body %}

<h1>Invite your peers in the medical profession to join 360Med Network</h1>
<p> Dear {{ user.profile.name }},</p> 
<p>As you already know 360Med is a closed network of practicing individuals in
  the medical profession on the Africa Continent...Please add their details below. They will receive an email with instructions.</p>

<form class="ui form" id="invite-form" method="POST" action="{% url 'invitations:send-invite' %}">
  {% csrf_token %}
  <div class="field">
    <label>First name</label>
    {% render_field form.first_name id="id_first_name" name="first_name" placeholder="First name" %}
  </div>

  <div class="field">
    <label>Last name</label>
    {% render_field form.last_name id="id_last_name" name="last_name" placeholder="Last name" %}
  </div>

  <div class="field">
    <label>Email address</label>
    {% render_field form.email class="validate-email" id="id_email" name="email" placeholder="Email address" %}
  </div>

  {% for error in form.errors %}
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <h2>Error</h2>
    </div>
    {{ error }}
  </div>
  {% endfor %}

  <button class="ui button primary generic-ajax-submit" type="submit">Send Invite</button>
</form>

<!-- {{ success_message }} -->

{% endblock %}

{% block sidebar %}

{% endblock sidebar %}