{% extends 'forum_list.html' %}
{% load static widget_tweaks %}

{% block headtitle %}
Send Invitations
{% endblock %}

{% block body %}

<h1>Invite your peers in the medical profession to join 360Med Network</h1>
<p> Dear {{ user.profile.name }},</p> 
<p>As you already know 360Med is a closed network of practicing individuals in
  the medical profession on the Africa Continent...Please add their details below. They will receive an email with instructions.</p>

<form class="ui form" id="invite-form" method="POST" action="{% url 'invitations:send-invite' %}">
  {% csrf_token %}
  <div class="field">
    <label>Their full name</label>
    {% render_field form.name id="id_name" name="name" placeholder="e.g Kwame Nkrumah" %}
  </div>

  <div class="field">
    <label>Their email address</label>
    {% render_field form.email id="id_email" name="email" value=form.email.value class="validate-email" placeholder="Email address" %}
  </div>

  {% for error in form.email.errors %}
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <h2>Error</h2>
    </div>
    {{ error }}
  </div>
  {% endfor %}

{% if success_message %}
<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    <h2>Invitation Sent</h2>
  </div>
  {{ success_message }}
</div>
{% endif %}

  <input class="ui button primary generic-ajax-submit" value="Send Invite" type="submit">
</form>

<!-- {{ success_message }} -->

{% endblock %}

{% block sidebar %}
<div class="ui column">
<div class="ui segment">
  <a class="ui teal left ribbon label">Invited</a>

  <div class="ui relaxed divided list">
    <div class="item">
      <i class="check left aligned icon"></i>
      <div class="content">
        <div class="description">rukundocollin@gmail.com</div>
      </div>
    </div>
    <div class="item">
      <i class="hourglass half left aligned icon"></i>
      <div class="content">
        <div class="description">collinrukundo@gmail.com</div>
      </div>
    </div>
  </div>

</div>
</div>
{% endblock sidebar %}