{% load forum_tags %}

{# Comment anchor #}
<a name="{{ post.uid }}"></a>

<div class="post comment {{ post.css }}" data-value="{{ post.uid }}">

    <div class="body">

        <div class="content">
            <div class="user-details-card">
                {% post_user_line post avatar=avatar %}
            </div>
            <div class="droppable inplace">
                <div class="ui inverted dimmer">
                    <div class="ui text loader">
                        <div class="muted">Entering edit mode</div>
                    </div>
                </div>
                <div class="magnify">
                    {% if post.is_editable %}
                    <div class="editable">{{ post.html|safe }}</div>
                    {% else %}
                    {{ post.html|safe }}
                    {% endif %}
                </div>
                {% post_actions post=post label="Reply" avatar=True %}
            </div>
        </div>
    </div>
</div>