{% load forum_tags %}
{% load accounts_tags %}

<div class="ui large wrap-text">

    <!-- show upcoming events -->
    
    <div class="event">
        <div class="ui container">
            <b> Upcoming events </b>
            <div class="ui relaxed list">
                {% for event in recent_events %}
                <div class="item spaced">
                    <a href="{% url 'event_view' event.uid %}">{{ event.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- show an ad -->
    <div style="width:auto" class="ui medium rectangle test ad" data-text="Ad Unit 1"></div>
    
    <!-- show available opportunities-->
    <div class="event">
        <div class="ui container">
            <b> Jobs & Opportunities </b>
            <div class="ui relaxed list">
                {% for job in recent_jobs %}
                <div class="item spaced">
                    <a href="{% url 'job_view' job.uid %}">{{ job.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>