{% load forum_tags %}
{% load accounts_tags %}

<div class="ui large wrap-text">


    {% include 'banners/top-banner.html' %}

    <!-- show upcoming events -->
    {% if recent_events %}
    <div class="event">
        <div class="ui container">
            <b> Upcoming events </b>
            <div class="ui relaxed divided list">
                {% for event in recent_events %}
                <div class="item">
                    <i class="calendar middle aligned icon"></i>
                    <div class="content">
                        <a href="{% url 'event_view' event.uid %}">{{ event.title }}</a>
                        <div class="description red">{{ event.event_date }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    
    <!-- show an ad -->
    <div style="width:auto" class="ui medium rectangle test ad" data-text="Ad Unit 1"></div>
    
    <!-- show available opportunities-->
    {% if recent_jobs %}
    <div class="event">
        <div class="ui container">
            <b> Jobs & Opportunities </b>
            <div class="ui relaxed list">
                {% for job in recent_jobs %}
                <div class="item">
                    <i class="stethoscope middle aligned icon"></i>
                    <div class="content">
                        <a href="{% url 'job_view' job.uid %}">{{ job.title }}</a>
                        <div class="description">Apply before: {{ job.apply_before }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

</div>