{% load forum_tags %}

<div class="quiz-block post {{ post.css }}" data-value="{{ post.uid }}">
    <div class="quiz-block-content">

        <div class="user-details-card pt-0 pb-2  uk-flex-top">
            {% post_user_line post avatar=avatar %}
        </div>

        <a href="{% url 'post_view' post.uid %}">
            <h3>
                {{ post.title }}
            </h3>
        </a>

        {{ post.html|safe|truncatechars:300 }}

        <div class="post-state">
            <div class="post-state-btns"> <i class="uil-thumbs-up"></i> {{ post.get_votecount|bignum }}<span> like{{ post.get_votecount|pluralize }} </span>
            </div>
            <div class="post-state-btns"> <i class="uil-comment"></i> {{ post.reply_count }} <span> repl{{ post.reply_count|pluralize:"y,ies" }}</span>
            </div>
            <div class="post-state-btns"> <i class="uil-eye"></i> {{ post.root.view_count|bignum }} <span> view{{ post.root.view_count|pluralize }} </span>
            </div>
            {% if show_subs %}
            <div class="post-state-btns"> <i class="uil-bookmark"></i>
                {% subscription_label post.subs_count %}
            </div>
            {% endif %}
            {% if post.high_spam_score and user.profile.is_moderator %}
            <div class="post-state-btns">
                <button href="#" class="button primary small circle uk-visible@s">
                    Moderate
                    <i class="icon-feather-chevron-down ml-2"></i>
                </button>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="mark item">
                            <a>Mark as spam</a>
                        </li>
                        {% if post.suspect_spam %}
                        <li class="release item">
                            Release
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>