{% load forum_tags %}

<div class="post {{ post.css }} item" data-value="{{ post.uid }}">

        <div class="user-details-card">
            {% post_user_line post avatar=avatar %}
        </div>

            <a href="{% url 'post_view' post.uid %}">
                <h3 class="title">{{ post.title|truncatechars:150 }}</h3>
            </a>

            <!-- {{ post.html|safe|truncatechars:150 }} -->

        <div class="extra right floated">

            <div class="left floated">
                {% if post.is_toplevel %}
                    {% post_tags post spaced=True %}
                {% endif %}
            </div>

            {% if post.high_spam_score and user.profile.is_moderator %}
                <div class="ui simple dropdown spam">
                    <i class="bug orange icon"></i>
                    <div class="menu">
                        <div class="mark item">Mark as Spam</div>

                        {% if post.suspect_spam %}
                            <div class="release item">Release</div>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

        </div>

        <div class="stats">
        
            <a href="{% url 'post_view' post.uid %}" class="ui transparent label">{{ post.get_votecount|bignum }} Vote{{ post.get_votecount|pluralize }}</a>
            {% if post.reply_count > 0 %}
            <a href="{% url 'post_view' post.uid %}" class="ui transparent label bookmark">{{ post.reply_count }} Comment{{ post.reply_count|pluralize }}</a>
            {% else %}
            <a href="{% url 'post_view' post.uid %}" class="ui transparent label bookmark">Add comment</a>
            <!-- <div class="ui label">{{ post.root.view_count|bignum }} View{{ post.root.view_count|pluralize }}</div>-->
            {% endif %}
            {% if post.subs_count > 4 %}
            {% subscription_label post.subs_count %}
            {% endif %}
        
        </div>

</div>

