{% load accounts_tags %}
{% load humanize %}
{% load forum_tags %}

<div class="ui card basic">
    <div class="content">
        <div class="center aligned author">
            <div style="margin-bottom:10px;" class="muted">
                <span style="font-size:14px;">Posted {{ post.creation_date|time_ago }}</span>
            </div>
            <img class="ui avatar image"
                src="{% if target_user.profile.avatar %}{{ target_user.profile.avatar.url }}{% else %}{% gravatar user=target_user %}{% endif %}" alt="">
        </div>
        <div class="ui hidden divider"></div>
        <div class="center aligned header">{{ target_user.profile.name }}</div>
        {% if target_user.profile.position %}
        <div class="center aligned description">
            <p>{{ target_user.profile.position }}, {{ target_user.profile.institution }}</p>
        </div>
        {% endif %}
    </div>
    <div class="center aligned">
        <a href="{% url 'user_profile' target_user.profile.uid %}" class="ui button">View full profile</a>
    </div>
    <div class="ui hidden divider"></div>
</div>






