{% load humanize %}
{% load static forum_tags %}

{#  Post action bar. #}

<div class="{% if post.is_toplevel %}top-level{% endif %}">

    <div class="post-state-details">
        <div>
            <img src="{% static 'img/reactions_like.png' %}" alt="">
            <p> {{ post.get_votecount|bignum }} </p>
        </div>
        <p> {{ post.reply_count }} repl{{ post.reply_count|pluralize:"y,ies" }}</p>
    </div>

    <div class="voting">
        <button class="ui tertiary button" data-value="upvote" data-state="{{ post.has_upvote }}">
            <i class="thumbs up icon"></i>Like
        </button>

        <button class="ui tertiary button" data-value="bookmark" data-state="{{ post.has_bookmark }}">
            Bookmark
        </button>
    </div>

    <a class="add-comment ui button tertiary">{{ label }}</a>

    {% if post.is_editable %}
        <a class="edit-button ui button tertiary" href="#">Edit</a>
    {% endif %}

    {% if post.can_moderate %}
        <a class="moderate ui button tertiary" href="#">moderate</a>
    {% endif %}

    <span style="padding:10px;" class="status user-info">
        {% if post.is_toplevel and user.is_authenticated %}
        <div class="ui dropdown" id="subscribe">
            <i class="rss icon"></i>
            <span class="text">{% follow_label post=post %}</span>
            <div class="menu">
                <a class="item" data-value="messages">
                    <i class="rss icon"></i>
                    Follow via messages
                </a>
                <a class="item" data-value="email">
                    <i class="envelope icon"></i>
                    Follow via email
                </a>
                <a class="item" data-value="unfollow">
                    <i class="cancel icon"></i>
                    Stop following
                </a>
            </div>
        </div>
        {% endif %}
    </span>

</div>