{% load accounts_tags %}
{% load humanize %}
{% load forum_tags %}

<div class="ui card basic">
    <div class="content">
        <div class="center aligned author">
            <img class="ui avatar image"
                src="{% if target_user.profile.avatar %}{{ target_user.profile.avatar.url }}{% else %}{% gravatar user=target_user %}{% endif %}" alt="">
        </div>
        <div class="ui hidden divider"></div>
        <div class="center aligned header">{{ target_user.profile.name }}</div>
        <div class="center aligned description">
            <p>{{ target_user.profile.text }}</p>
        </div>
    </div>
    <div class="center aligned">
        <a href="{% url 'user_profile' user.profile.uid %}" class="ui button">View full profile</a>
    </div>
    <div class="ui hidden divider"></div>
</div>






