{% load forum_tags %}


{#  Post anchor. #}
<a name="{{ post.uid }}"></a>

<div class="post view {{ post.css }}" data-value="{{ post.uid }}">

    {#  Post title. #}
    {% if post.is_toplevel %}

    {# Show author message about their quarantied post. #}

    <h2 class="title">{{ post.title }}</h3>
    {% endif %}

    {#  Post body #}
    <div class="body">

        {#  Voting buttons #}
        <div class="voting">
            <!-- moving the reply and edit buttons ruined the JS modal that came through the 
            content tag below. Fix it. Reply and edit won't work for top-level content for now. -->
            {% if post.can_accept %}
            <button class="ui icon small button" data-value="accept" data-state="{{ post.accept_count }}"><i
                    class="check circle icon"></i>
            </button>
            {% endif %}
        </div>


        {# Render the content#}
    <div class="content">
        <div class="droppable inplace">
            <div class="ui inverted dimmer">
                <div class="ui text loader">
                    <div class="muted">Entering edit mode</div>
                </div>
            </div>
    
            <div class="wrap magnify">
    
                {# Display post author. #}
                <div class="user-details-card">
                    {% post_user_line post avatar=avatar %}
                </div>
    
                {# Display post content. #}
                {% if post.is_editable %}
                <div class="editable">{{ post.html|safe }}</div>
                {% else %}
                {{ post.html|safe }}
                {% endif %}
            </div>
    
            {# Show tags #}
            {% if post.is_toplevel %}
            {% post_tags post=post show_views=False %}
            {% endif %}
    
            {# Show the post actions #}
            {% post_actions post=post %}
    
        </div>
    
        {# Render all comments #}
        {% render_comments tree=tree post=post %}
    </div>

    </div>

</div>