{% load accounts_tags %}
{% load humanize %}
{% load forum_tags %}

<div class="ui card">
    <div class="content">
        <div class="center aligned author">
            <img class="ui image" src="{% gravatar user=target_user size=80 %}">
        </div>
        <div class="ui hidden divider"></div>
        <div class="center aligned header">{{ target_user.profile.name }}</div>
        <div class="center aligned description">
            <p>{{ target_user.profile.text }}</p>
        </div>
    </div>
    <div class="center aligned">
        <button class="ui button">View full profile</button>
    </div>
    <div class="ui hidden divider"></div>
</div>






