{% load humanize %}
{% load forum_tags %}

{% if post.author.id != post.lastedit_user.id %}


    <!-- <span class="menu-tablet_small">

    {{ post.creation_date|time_ago }}

        <a href="{% url "user_profile" post.author.profile.uid %}">

            {% if avatar %}
                <div class="user-details-card-avatar">
                    <img src="{% gravatar user=post.author size=32 %}" alt="">
                </div>
            {% endif %}
            <div class="user-details-card-name">
                {{ post.author.profile.name|truncatechars:150 }}
            </div>
        </a>

        {% user_icon user=post.author %}

    </span> -->

<!--{% if  post.lastedit_user.profile.is_valid %}
&bull;
updated

{{ post.lastedit_date|time_ago }} -->
{% if avatar %}
<div class="user-details-card-avatar">
    <img class="ui avatar image"
        src="{% if post.author.profile.avatar %}{{ post.author.profile.avatar.url }}{% else %}{% gravatar user=post.author size=32 %}{% endif %}"
        alt="">
</div>
{% endif %}
<a href="{% url "user_profile" post.author.profile.uid %}">
    <div class="user-details-card-name">
        {{ post.author.profile.name|truncatechars:150 }}
        <span>
            posted {{ post.creation_date|time_ago }} {% if  post.lastedit_user.profile.is_valid %}&bull; updated
            {{ post.lastedit_date|time_ago }} {% endif %}
        </span>
    </div>
</a>

<!-- {% user_icon user=post.lastedit_user %} -->
{% endif %}

{% elif post %}

{% if avatar %}
<div class="user-details-card-avatar">
    <img class="ui avatar image"
        src="{% if post.lastedit_user.profile.avatar %}{{ post.lastedit_user.profile.avatar.url }}{% else %}{% gravatar user=post.lastedit_user size=32 %}{% endif %}"
        alt="">
</div>
{% endif %}
<a href="{% url "user_profile" post.lastedit_user.profile.uid %}">
    <div class="user-details-card-name">
        {{ post.lastedit_user.profile.name|truncatechars:150 }}
        <span>
            posted {{ post.lastedit_date|time_ago }}
        </span>
    </div>
</a>

<!-- {% user_icon user=post.lastedit_user %} -->
{% endif %}