{% extends "base.html" %}
{% load static widget_tweaks %}

{% block content %}

    <div uk-height-viewport="" class="uk-flex uk-flex-middle uk-grid-collapse uk-grid-match uk-grid uk-grid-stack"
        uk-grid="" style="min-height: calc(100vh);">

        <div class="form-media uk-width-2-3@m uk-width-1-2@s uk-visible@s uk-height-viewport uk-background-cover"
            data-src="assets/images/bg-form2.jpg" uk-img>

            <div class="form-media-content uk-light">

                <h1> The largest networking platform for <br>medical professionals in Africa.</h1>


                <div class="form-media-footer">
                    <ul>
                        <li> <a href="#"> About </a></li>
                        <li> <a href="#"> Contact </a></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="uk-width-1-3@m uk-width-1-2@s uk-animation-slide-right-medium">

            <div style="padding:0 30px;">
                <div class="logo uk-text-center mb-10"><img src="{% static 'img/logo.png' %}" alt=""></div>
                <div class="my-4 uk-text-center">

                    <h1 class="mb-2"> Sign In </h1>
                </div>

                <form class="login" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}

                    {{ form.errors }}
                    
                    <div class="uk-form-group">
                        <div class="uk-position-relative">
                            {% render_field form.email class="uk-input bg-secondary" type="email" placeholder="Email address" %}
                        </div>
                    </div>
                    <div class="uk-form-group">
                        <div class="uk-position-relative">
                            {% render_field form.password class="uk-input bg-secondary" type="password" placeholder="Password" %}
                        </div>
                    </div>

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <button type="submit" class="button primary large block mb-4">Enter</button>
                    <p></p>
                    <a href="{% url 'password_reset' %}"> Forgot your password?</a>
                </form>
            </div>

        </div>
    </div>

    {% endblock %}

</body>

</html>