{% extends "base.html" %}
{% load static %}
{% load forum_tags %}
{% load socialaccount %}
{% block headtitle %}Login{% endblock %}

{% block topmenu %}

{% endblock %}

{% block content %}

<div class="ui middle aligned grid">

    <div class="column">

        <div class="ui image header" id="logo">
            <a href="/"><img class="ui image" src="{% static "images/logo.png" %}"></a>
        </div>

        <form class="ui large form" method="post" action="{% url 'login' %}">

            <div class="ui error message">
                {{ form.errors }}
            </div>

            <div class="ui basic segment">

                <div class="ui large header">
                    Welcome back
                </div>

                {% csrf_token %}

                <div class="field">
                    <label>Email</label>
                    {{ form.email }}
                </div>

                <div class="field">
                    <label>Password</label>
                    {{ form.password }}
                    <a href="{% url 'password_reset' %}"><i class="question circle icon"></i>Forgot your password?</a>
                </div>

                <div class="field">
                    <button class="ui large right floated primary button" type="submit">
                        <i class="sign in icon"></i>Log In
                    </button>
                </div>

            </div>


        </form>

        <div class="ui center aligned basic segment">
            Don't have an account? <a class="" href="{% url 'signup' %}">Sign up here</a>
        </div>
</div>




{% endblock %}
