{% extends "forum_base.html" %}
{% load forum_tags %}
{% load accounts_tags %}

{% block headtitle %} Biostar Forum {% endblock %}
{% block title %} Log out {% endblock %}

{% block content %}

     <form method="post" action="{% url 'logout' %}" >

        <div class="ui center aligned header">

            <i class="sign out icon"></i>Are you serious about logging out?

        </div>

        <div class="ui basic center aligned text segment">
            <div class="ui buttons">
                {% csrf_token %}
                <a class="ui right floated button" href="/"> <i class="home icon"></i> No, take me Home</a>
                <div class="or"></div>
                <button class="ui negative button" type="submit"> <i class="sign out icon"></i> Yes, Log me out</button>
            </div>
        </div>
 </form>
{% endblock %}
