{% extends "forum_base.html" %}
{% load static %}
{% block headtitle %} Reset Password {% endblock %}

{% block content %}

<div class="ui raised text container basic segment">

    <div style="margin-top:50px;" class="ui center aligned header">

        <div class="ui image header" id="logo">
            <a href="/"><img class="ui image" src="{% static "images/logo.png" %}"></a>
        </div>
    
        <h1>Reset your password</h1>
    
    </div>
    
    <p class="ui center aligned basic segment">
    
        Enter your email and press <b>Reset my password</b>
        to receive an email with password reset instructions.</p>
    
    <div class="ui basic text segment">
        <form class="ui large form " method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
    
            <div class="field">
                <label>Enter your email</label>
    
                {{ form.email }}
                {{ form.errors }}
            </div>
    
            <div>
                <button class="ui primary right floated button" type="submit">
                    <i class="envelope icon"></i>Reset my password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

