{% extends "forum_base.html" %}
{% block headtitle %} Reset Password {% endblock %}

{% block content %}

        <div style="margin-top:100px;" class="ui center aligned header">

            Reset your password

        </div>

        <p class="ui center aligned basic segment">
        
            Enter your email and press <b>Reset my password</b>
            to receive an email with password reset instructions.</p>

        <div class="ui basic text segment">
                <form class="ui large form " method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}

                    <div class="field">
                        <label>Enter your email</label>

                        {{ form.email }}
                        {{ form.errors }}
                    </div>

                    <div>
                        <button class="ui primary right floated button" type="submit">
                            <i class="envelope icon"></i>Reset my password</button>
                    </div>
                </form>
        </div>

{% endblock %}

