{% extends "base.html" %}
{% load static widget_tweaks %}

{% block headtitle %} Reset Password {% endblock %}

{% block content %}

<div uk-height-viewport="" class="uk-flex uk-flex-middle uk-grid-collapse uk-grid-match uk-grid uk-grid-stack"
    uk-grid="" style="min-height: calc(100vh);">

    <div class="form-media uk-width-2-3@m uk-width-1-2@s uk-visible@s uk-height-viewport uk-background-cover"
        data-src="assets/images/bg-form2.jpg" uk-img>

        <div class="form-media-content uk-light">

            <h1> The largest networking platform for <br>medical professionals in Africa.</h1>


            <div class="form-media-footer">
                <ul>
                    <li> <a href="#"> About </a></li>
                    <li> <a href="#"> Contact </a></li>
                </ul>
            </div>

        </div>

    </div>
    <div class="uk-width-1-3@m uk-width-1-2@s uk-animation-slide-right-medium">

        <div style="padding:0 30px;">
            <div class="logo uk-text-center mb-10"><img src="{% static 'img/logo.png' %}" alt=""></div>
            
            <p class="uk-text-muted uk-text-center">Enter your email address below. We will send you an email with password reset instructions.</p>

                <form class="password_reset" method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}

                    <div class="uk-form-group">
                        <div class="uk-position-relative">
                            {% render_field form.email class="uk-input bg-secondary" type="email" placeholder="Email address" %}
                        </div>
                    </div>
                    {{ form.errors }}

                    <div>
                        <button type="submit" class="button primary block">Reset Password</button>
                        <p></p>
                        <a class="ui tertiary center button grey" onclick="window.history.back()">
                            Go back
                        </a>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}

