{% extends "base.html" %}
{% load static %}
{% load accounts_tags forum_tags %}
{% load widget_tweaks %}
{% block title %}Welcome to 360Med Network{% endblock %}


{% block content %}

<div uk-height-viewport="" class="uk-flex uk-flex-middle uk-grid-collapse uk-grid-match uk-grid uk-grid-stack"
    uk-grid="" style="min-height: calc(100vh);">

    <div class="form-media uk-width-2-3@m uk-width-1-2@s uk-visible@s uk-height-viewport uk-background-cover"
        data-src="assets/images/bg-form2.jpg" uk-img>

        <div class="form-media-content uk-light">

            <h1> The largest networking platform for <br>medical professionals in Africa.</h1>


            <div class="form-media-footer">
                <ul>
                    <li> <a href="#"> About </a></li>
                    <li> <a href="#"> Contact </a></li>
                </ul>
            </div>

        </div>

    </div>
    <div class="uk-width-1-3@m uk-width-1-2@s uk-animation-slide-right-medium">

        <div style="padding:0 30px;">
            <div class="logo uk-text-center mb-10"><img src="{% static 'img/logo.png' %}" alt=""></div>
            <div class="my-4 uk-text-center">

                <h1 class="mb-2"> Sign Up </h1>
            </div>

        <form method="post" class="signup" action="{% url 'signup' %}">
            {% csrf_token %}

            {% show_messages messages %}

                {% form_errors form %}

                <div class="uk-form-group">
                    <div class="uk-position-relative">
                        {% render_field form.name class="uk-input bg-secondary" type="text" placeholder="Full Name" %}
                    </div>
                </div>
                
                <div class="uk-form-group">
                    <div class="uk-position-relative">
                        {% render_field form.email class="uk-input bg-secondary" type="disabled" value=form.email.value %}
                    </div>
                </div>
                <div class="uk-form-group">
                    <div class="uk-position-relative">
                        {% render_field form.password1 class="uk-input bg-secondary" type="password" placeholder="Enter Password" %}
                    </div>
                </div>
                <div class="uk-form-group">
                    <div class="uk-position-relative">
                        {% render_field form.password2 class="uk-input bg-secondary" type="password" placeholder="Confirm Password" %}
                    </div>
                </div>
                
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <button type="submit" class="button primary large block mb-4">Join</button>
                <p>
                    By clicking join, I agree to be bound by the terms and conditions of 360Med Network
                </p>
        </form>
        </div>
        
    </div>
</div>

{% endblock %}
