{% extends "forum_base.html" %}
{% load accounts_tags %}
{% load forum_tags %}

{% block headtitle %}{{ target.profile.name }}{% endblock %}

{% block content %}

<style>

.profilepic {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profilepicimg {
    display: inline;
    height: 100%;
    width: auto;
}
</style>

    <div class="ui stackable grid profile" data-value="{{ target.profile.id }}">
        <div class="row" style="background-color:#f8f8f8;">
            <div class="sixteen wide column">
                    {% if target.profile.avatar %}
                    <div class="profilepic">
                        <img class="profilepicimg" id="avatarPreview" src="{{ target.profile.avatar.url }}">
                    </div>
                    <!-- image buttons here -->
                    {% else %}
                    <div class="profilepic">
                        <img class="profilepicimg" src="{% gravatar user=target size=150 %}">
                    </div>
                    {% endif %}
                    
                <div style="margin-top:5px;" class="ui center aligned header">
                    <h2 style="font-size:24px;font-weight: 900">{{ target.first_name }} {{ target.last_name }}{% user_icon score=target.profile.score %}pts</h2>
                    <div class="text content">
                        <div class="ui horizontal bulleted list">
                            <a class="item">
                                @{{ target.username }}
                            </a>
                            <a class="item">
                                {{ target|show_email:request.user }}
                            </a>
                            <a class="item">
                                Joined {{ target.profile.date_joined|time_ago }}
                            </a>
                            <a class="item">
                                <i class="{{ target.profile.country.name }} flag"></i>{{ target.profile.country.name }}
                            </a>
                        </div>
                        {% if show_info %}
                        <p style="font-size:18px;font-weight: 400;">{{ target.profile.text |safe }}</p>
                        {% else %}
                        <p>
                            Profile information, website and location are not shown for new users. This helps us discourage the inappropriate use of our site.
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="ui center aligned basic segment">
                    {% if target == request.user %}
                    <a class="ui mini button" href="{% url 'edit_profile' %}">
                        <i class="write icon"></i>Edit profile
                    </a>
                    {% endif %}
                    
                    {% if can_moderate %}
                    <div class="ui mini button orange moderate">
                        <i class="hand paper icon"></i>
                        Moderate
                    </div>
                    {% endif %}
                    
                    {% if request.user.is_superuser and debugging %}
                    <a class="ui mini red button" href="{% url 'debug_user' %}?uid={{ target.profile.uid }}">
                        <i class="sign in icon"></i> Log in
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="ui stackable grid">
        <div class="row">
            <div class="four wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Work</p>
                    </div>
                    <div class="ui secondary segment">
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="fit twelve wide column">
                
                    <div class="ui top attached tabular  menu">
                
                        <a class="{% activate 'posts' active %} item" href="{{ target.profile.get_absolute_url }}?active=posts">
                            <i class="list alternate outline icon"></i><span class="phone"> Posts</span>
                        </a>
                
                        <a class="{% activate 'awards' active %}  item" href="{{ target.profile.get_absolute_url }}?active=awards">
                            <i class="star outline icon"></i><span class="phone">Awards</span>
                        </a>
                
                    </div>
                    <div class="ui bottom attached profile segment">
                        {% if active == 'posts' %}
                
                        {% include 'accounts/profile_post_listing.html' %}
                
                        {% else %}
                        {% list_awards target=target %}
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
