{% extends "forum_base.html" %}
{% load accounts_tags %}
{% load forum_tags %}
{% block headtitle %}{{ target.profile.name }}{% endblock %}

{% block content %}

        <div class="profile">

            <div class="profile-details">
                <div class="profile-image">
                    <img src="{% gravatar user=target size=150 %}" alt="{{ target.profile.name }} avatar">
                    <a href="#"> </a>
                </div>
                <div class="profile-details-info">
                    <h1> {{ target.profile.name }}</h1>
                    <code>@{{ target.username }}</code>
                    <p>{{ target.profile.text }}</p>
                </div>
        
            </div>
        
        
        </div>
        
        <div class="ui divider"></div>
        
        <div class="section-small">
        
            <div uk-grid>
        
                <div class="uk-width-2-3@m fead-area">

                    <div class="ui large header"> Activity </div>
        
                    <!-- Post loop goes here -->
                    {% include 'accounts/profile_post_listing.html' %}
                </div>
        
            
        
                <!-- sidebar -->
                <div class="uk-width-expand ml-lg-2">
        
                    <div uk-sticky="offset:144 ; bottom:true ; meda : @m">
        
                        <div class="ui large header"> About </div>

                        <div class="list-group-items">
                            <i class="uil-briefcase-alt"></i>
                            <h5 style="margin:0!important"> {{ target.profile.get_occupation_display }} </h5>
                        </div>

                        <div class="list-group-items">
                            <i class="uil-medkit"></i>
                            <h5 style="margin:0!important"> <span> {{ target.profile.qualifications }} </span> </h5>
                        </div>

                        <div class="list-group-items">
                            <i class="uil-home"></i>
                            <h5 style="margin:0!important"> Lives in <span> {{ target.profile.location }} </span> </h5>
                        </div>
                        
                        <div class="list-group-items">
                            <i class="uil-clock"></i>
                            <h5 style="margin:0!important"> Joined <span> {{ target.profile.date_joined|time_ago }} </span> </h5>
                        </div>
                        
                        {% if target == request.user %}
                        <a href="{% url 'edit_profile' %}" class="button soft-primary block"> Edit Profile </a>
                        <p></p>
                        {% else %}
                        <a href="#" class="button secondary block"> <i class="uil-envelope"> </i> Send Message </i> </a>
                        {% endif %}
                        {% if can_moderate %}
                        <a href="#" class="button danger moderate block"> <i class="uil-signal"></i> Moderate</a>
                        <p></p>
                        {% endif %}
                        {% if request.user.is_superuser and debugging %}
                        <a class="button success block" href="{% url 'debug_user' %}?uid={{ target.profile.uid }}">
                            <i class="uil-sign-in-alt"></i> Log in
                        </a>
                        <p></p>
                        {% endif %}
        
                    </div>
                </div>
        
            </div>
        
        </div>

{% endblock %}