{% extends "forum_base.html" %}
{% load static %}
{% load forum_tags %}
{% load accounts_tags %}
{% block headtitle %}Verify your 360Med Network{% endblock %}

{% block topmenu %}

{% endblock %}


{% block content %}

<div class="ui middle aligned grid">

    <div class="column">

        <div class="ui image header" id="logo">
            <a href="/"><img class="ui image" src="{% static "images/logo.png" %}"></a>
        </div>
        
        {% show_messages messages %}
        
        <div class="ui large header">
            Verify that you are a Africa-based clinician
        </div>
        <p>To maintain integrity of the 360Med Community and ensure better engagement, we require all our users to be verified as medical practitioners. Choose one of the following methods to get verified. We’ll update your status within 48 hours.</p>
        <div class="muted">
            If you decide to skip this step, you will have very limited access to the full features of the community.
        </div>

        <a class="ui cancel button" href="">
            <i class="undo icon"></i>Skip verification
        </a>

        <form method="post" class="ui large form attached fluid" action="">
        
            {% form_errors form %}
            <div class="ui basic segment">
        
                {% csrf_token %}
        
                <div class="required field">
                    <label>Licence Number/ID</label>
                    {{ form.licence }}
                    <div class="muted">
                        {{ form.licence.help_text }}
                    </div>
                </div>
        
                <div class="required">
                    <label>Upload Medical Licence ID</label>
                    {{ form.licence_img }}
                    <div class="muted">
                        {{ form.licence_img.help_text }}
                    </div>
                </div>
            </div>
            
            <button type="submit" class="ui large right floated submit green button"><i class="check icon"></i>Submit for verification</button>
        </form>

    
    </div>
</div>

{% endblock %}